.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-inline: 20px;

  .loginform {
    width: 350px;

    h1 {
      text-align: center;
      font-size: 18px;
      margin-bottom: 40px;
    }

    p {
      margin-left: 5px;
      margin-top: 10px;
      margin-bottom: 0;
      color: #ff0000;
      font-size: 12px;
    }
  }
}

@media (min-width: 320px) {
  .container {
    .loginform {
      h1 {
        font-size: 24px;
      }
    }
  }
}
